.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerBanner {
  width: 100%;
  height: fit-content;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.loginBg {
  width: 100%;
  padding-top: 50px;
  margin-top: 30px;
  background-size: contain;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding-left: 21px;
  padding-right: 21px;
  margin-top: 35px;
}

.container {
  width: 85vw;
  margin: auto;
  padding: 0;
}

.text {
  padding: 0 15px;
  font-size: 20px;
  text-align: center;
  span {
    // color: rgba(0, 0, 0, 0.85);
    color: black;
    font-weight: 900 !important;
  }
}

.content {
  width: 50%;
  padding: 20px;
}

.img50 {
  border-radius: 10px;
  width: 100%;
}

.title {
  padding: 0 15px;
  text-align: center;
  margin-left: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 30px !important;
}

.link {
  display: inline-block;
  border: 1px solid #d03031;
  width: 200px;
  height: 50px;
  background-color: #d03031;
  color: white;
  line-height: 50px;
  text-align: center;
  z-index: 10;
  border-radius: 20px;
}

.img20 {
  width: 20%;
  padding: 28px 50px 60px 30px;
  img {
    width: 100%;
  }
}

.content40 {
  width: 40%;
  padding: 20px;
}

.containerIframe {
  width: 84vw;
  margin: 60px 0;
}

.wrapperIframe {
  width: 100%;
  padding: 10px 30px 0 10px;
}

.footer {
  //width: 100vw;
  background-color: #bc2b2c;
  margin: 0;
  padding-top: 50px;
}
// .contact {
//   margin-top: 2px;
// }

.footerLink {
  color: white;
  display: block;
  // text-align: left;
  // margin-right: 100%;
}
.line {
  margin: auto;
  border-bottom: 1.5px solid white;
  width: 50vw;
}

// Thong ke
.statisticalContainer {
  width: 100%;
  height: 100%;
  background-color: #f8efef;
  padding: 25px;
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;

  svg {
    padding: 0 !important;
  }
}

.counterService {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #151a33;
}

.titleService {
  margin-top: -10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;

  color: #747b87;
}

.iconStatistical {
  font-weight: 900;
  color: #b73232;
  font-size: 20px;
  // paddingTop:`${item.nameIcon}` == 'faUsers' ? 8 : ''
}

.formBg {
  width: 100%;
  background-image: url(../public/bgForm.jpg);
  background-size: contain;
  position: relative;
}
// form CSS
.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 25px;

  // background: #009bff;
  // background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  // background: -o-linear-gradient(left, #0072ff, #00c6ff);
  // background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  // background: linear-gradient(left, #0072ff, #00c6ff);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerContact1 {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1Pic {
  width: 296px;
}

.contact1Pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1Form {
  // width: 390px;
  margin: auto;
  width: 100%;
}

.contact1FormTitle {
  display: block;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  color: #d03030;
}

.selectForm {
  border-radius: 15px;
  height: 50px;
  width: 100%;
  border: 0.5px solid rgb(220, 109, 109);
  background-color: white;

  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  padding: 0 22px;
}
select.selectForm + .shadow-input1 {
  border-radius: 25px;
}

.optionForm {
  color: #666666;
}

input.input1 {
  height: 50px;
  // border-radius: 25px;
  border-radius: 15px;

  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

.wrapInput1 {
  input:focus-visible {
    outline: none !important;
  }
}

textarea.input1 {
  min-height: 150px;
  // border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrapInput1 {
  position: relative;
  width: 100%;
  z-index: 1;
  // margin-bottom: 20px;
}

.input1 {
  display: block;
  // margin: 0 20px;
  // margin: auto;
  width: 100%;
  // background: #e6e6e6;
  background-color: white;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  border: 0.5px solid rgb(220, 109, 109);
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.containerContact1FormBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.contact1FormBtn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #d03030;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1FormBtn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1FormBtn:hover {
  background: #333333;
}

.contact1FormBtn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1199px) {
  .contact1Pic {
    width: 33.5%;
  }

  .contact1Form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .containerContact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1Pic {
    width: 35%;
  }

  .contact1Form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .containerContact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1Pic {
    display: none;
  }

  .contact1Form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .containerContact1 {
    padding: 90px 15px 88px 15px;
  }
}

.registerContainer {
  // background-color: ;
  background-image: url(../public/bgRegister.png);
  width: 100%;
  height: fit-content;
  // margin-top: 80px;
  background-size: contain;
  padding: 30px 0;
  // justify-content: center;
  // align-items: center;
  // display: flex;
}
.btnSingle {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
  width: 200px;
  height: 54px;
  line-height: 54px;
  // background-color: white;
  background-color: honeydew;
  text-align: center;
  border-radius: 25px;
  font-weight: 300;
  box-shadow: 4px 4px 7px 0 #3f1515;
  margin: 20px auto;
}

.subjectContainer {
  background-image: url(../public/subject.png);
  width: 100%;
  background-size: contain;
  padding-bottom: 50px;
  margin-top: 30px;

  .subjectSession {
    width: 50%;
    margin: auto;
    padding: 50px;
    font-size: 16px;
    h1 {
      font-size: 2.5rem !important;
      font-weight: 700;
      margin-bottom: 50px;
    }
    .subjectRight {
      padding-left: 30px;
    }

    .hotline {
      width: 100%;
      margin-top: 70px;
      .hotlineContainer {
        width: 100%;
        display: flex;
        flex-direction: column;

        .hotlineLeft {
          display: inline-block;
          text-decoration: none;
          color: #000;
          width: fit-content;
          font-size: 30px;
          margin: auto;
        }

        .btnRegister {
          width: fit-content;
          background-color: #cf2030;
          color: #fff;
          padding: 15px 30px;
          border-radius: 25px;
          border: 0;
          text-transform: uppercase;
          margin-left: 40px;
          margin: auto;
        }
      }
    }
  }
}
.posterContainer {
  width: 80%;
  margin: auto;
  border: 0.5px solid rgb(189, 182, 182);
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.poster {
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.imageSlider {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.phone {
  padding-left: 10px;
}

// detail info
.detailInfoLeft {
  justify-content: center;
  padding: 20px 40px 30px 40px;
  .membersImage {
    margin: auto;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px 0 #242424a1;
    height: fit-content;
    background-color: white !important;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .membersName {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
    line-height: 32px;
  }
  p {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300px !important;
    margin: 0;
    text-align: center;
    line-height: 1.8em;
  }
  span {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
  }
}

.detailInfoRight {
  padding: 30px;
  h4 {
    font-size: 28px;
    font-weight: 700;
    color: #c8102e;
    margin: 0;
  }
  p {
    color: black;
    font-size: 18px;
    font-weight: 300px !important;
    line-height: 1.8em;
    margin: 0;
  }
  .lineModal {
    width: 100%;
    height: 4px;
    margin: 20px auto;
    background-color: #c8102e;
  }

  .productCompany {
    h4 {
      font-size: 35px;
      font-weight: 700;
      color: #c8102e;
    }
    .imgProduct {
      margin: auto;
      width: 100%;
      border-radius: 10px;
    }
  }
  .addressCompany {
    margin-top: 40px;

    p {
      padding-left: 15px;

      color: black;
      font-size: 18px;
      font-weight: 300px !important;
      text-align: center;
      line-height: 1.8em;
    }
  }
}

// modal

.modal__wrap {
  position: fixed;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.visible {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.visible .modal {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.logoDonors {
  width: 100%;
}

.infoDetail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  svg {
    max-width: 20px;
    width: 100%;
    color: white;
    margin-right: 20px;
    padding-top: 5px;
  }
  p {
    font-size: 18px;
    text-align: left;
  }
}

.infoContent {
  margin-top: 40px;
  .membersName {
    margin-bottom: 0;
  }
}

.titleBenefit {
  margin: 0px auto 30px;
  text-align: center;
  b {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.cardContainer {
  h3 {
    color: #d03031;
    font-size: 24px;
    line-height: 1.25px;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin-top: 15px;
    span {
      font-size: 16px;
    }
  }
}
.titlePoster {
  margin: 30px auto;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  span {
    color: #cf2030;
  }
}

.OverPlayContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.overPlay {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: #ffffff73;
}
// custom
.member {
  width: 84vw;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 21px;
  border-radius: 10px;
}

.member_img {
  margin: auto;
  width: 25%;
  height: 160px;
  padding: 7px 7px;
  border-radius: 10px;
}

.slider {
  width: 85vw;
  margin: 20px auto;
  h1 {
    color: #cf2030;
    text-align: center;
    margin: 90px auto 30px;
    font-weight: 700;
    font-size: 30px;
    span {
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
.imgSlider {
  width: 100%;
  padding: 9rem 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 950px;
}

.logoBNI {
  // max-width: 350px;
  // max-height: 250px;
  margin: auto;
  padding: 50px 0;
  margin-top: 20px;
}

.overView {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .event {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    h3 {
      margin: auto;
      font-weight: 700;
      font-size: 1.75rem;
      margin-bottom: 60px;
    }
    .containerImg {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 5px;
      .image {
        width: 33%;
        padding: 10px;
        border-radius: 10px;
        &:nth-last-child(1) {
          padding-right: 0;
        }
        img {
          border-radius: 10px;
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

.countDownContainer {
  height: fit-content;
  margin-top: 50px;
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  .countdownItem {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    // background-color: #ef090940;
    background-color: white;
    font-size: 40px;
    line-height: 30px;
    .date {
      color: crimson;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.location {
  width: 100%;
  height: fit-content;
  // background-color: rgb(235, 230, 230);
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .locationItem {
    padding: 20px;
    height: fit-content;
    display: flex;
    width: 100%;
    border-right: 2px solid #4e6e6f;
    height: 100%;

    .itemImage {
      width: 20%;
      height: fit-content;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .detail {
      width: 80%;
      padding: 20px;
      color: #051d82;
      h3 {
        font-size: 25px;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        line-height: calc(24 / 18);
      }
    }

    &:nth-last-child(1) {
      border-right: none;
    }
  }
}

.register {
  width: 85vw;
  margin: auto;
  color: white;
  text-align: center;
  margin-top: 40px;
  h3 {
    font-size: 28px;
    font-weight: 700;
    color: white;
  }

  a {
    display: inline-block;
    width: 176px;
    height: 60px;
    background-color: #157af6;
    line-height: 60px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 18px !important;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
  }
}

@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .col {
    margin-top: 20px;
  }
  .titlePoster {
    font-size: 24px;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .member {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    .member_img {
      width: 50vw;
    }
  }
  .img50 {
    width: 100% !important;
  }
  .wrapper {
    .content {
      width: 100% !important;
      .img50 {
        width: 100% !important;
      }
    }
  }
  .container {
    width: 100% !important;
    padding: 0 !important;
  }

  .overView {
    .content {
      width: 100%;
    }
    .event {
      .containerImg {
        .image {
          width: 100%;
        }
      }
    }
  }
  .slider {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    h1 {
      font-size: 20px;
    }
  }

  .location {
    .locationItem {
      width: 100%;
      border-bottom: 2px solid #4e6e6f;
      border-right: none;
      &:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }

  .link {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .title {
    font-size: 24px;
  }
  .img20 {
    width: 80vw;
    margin: auto;
    padding: 0;
  }

  .content40 {
    width: 80vw;
    text-align: center;
    margin: auto;
  }
  .contact {
    margin-top: 10px;
  }
  .footerLink {
    margin-top: 5px;
  }

  .line {
    width: 85vw;
  }
  .containerIframe {
    width: 100vw;
    margin: 120px 0 50px 0;
  }
  .wrapperIframe {
    width: 100%;
    padding: 0;
  }
  .iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
  .content30 {
    width: 100%;
  }
  .register {
    padding-bottom: 10px;

    a {
      font-size: 18px;
      color: white;
      padding-bottom: 10px;
    }
  }

  .subjectContainer {
    background-image: url(../public/subject.png);
    width: 100vw;
    .subjectSession {
      width: 100%;
      margin: 0px;
      padding: 0px;
      h1 {
        font-size: 2.5rem !important;
        font-weight: 700;
      }
      .hotline {
        width: 100%;
        margin-top: 70px;
        .hotlineContainer {
          width: 100%;
          .hotlineLeft {
            display: flex;
            width: 100%;
            margin: auto;
          }
          .hotlineNumber {
            display: flex;
            margin: auto;
          }
          .btnRegister {
            margin: 40px auto;
          }
        }
      }
    }
  }
  .iframeFooter {
    width: 100%;
    margin: auto;
  }

  .posterContainer {
    width: 100%;
  }
  .titleBenefit {
    b {
      font-size: 24px;
    }
  }
}

@media (min-width: 1000px) {
  .line {
    width: 85vw;
  }
}

@media (max-width: 1000px) {
  .hotlineContainer {
    width: 100%;
    .phone {
      white-space: nowrap;
    }

    .btnRegister {
      margin: 30px auto 0;
    }
  }
}
///////////////////////////////////////////////CSS//////////////////////////////////////////////////////

.ant-card-cover {
  img {
    object-fit: cover;
  }
}

.ant-card {
  height: 100%;
}

.content_info {
  margin: 30px auto;
  padding: 0 15px;
  width: 100%;
  text-align: center;
  background-color: red !important;
}

.groupData {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.contentTitle {
  margin: 30px auto;
  color: #cf2030;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  span {
    color: rgba(0, 0, 0, 0.85);
  }
}

.subjectGrid {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-gap: 30px 30px;
  margin-bottom: 30px;
  img {
    width: 100%;
    object-fit: contain;
  }
  p {
    font-size: 20px;
    line-height: calc(26 / 20);
  }

  .subjectItem {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 0;
      b {
        font-weight: 700 !important;
      }
    }
  }
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cardItem {
  .ant-card {
    display: flex;
    flex-direction: column;
  }
}

.wrapInput1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
  margin-bottom: 20px;
}
.wrapInput2 {
  width: 100%;
  margin-bottom: 20px;

  select:focus-visible {
    outline: none;
    color: #666666;
  }
}

.partnerGrid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  margin-top: 30px;
  grid-gap: 30px;
  padding: 0 15px;
  justify-content: center;
}

.partnerItem {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  img {
    object-fit: contain;
  }
}

@media screen and(max-width: 1199px) {
  .partnerGrid {
    grid-template-columns: repeat(4, 150px);
  }

  .partnerItem {
    height: 75px;
  }
}

@media screen and(max-width: 767px) {
  .partnerGrid {
    grid-template-columns: repeat(2, 200px);
  }

  .partnerItem {
    height: 100px;
  }
}

.modal {
  width: 90%;
  padding: 20px;
  display: flex;
  height: fit-content;
  margin: 0 auto;
}

.modalClose {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #d2d2d2;
  z-index: 10;
}

.modalGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  align-self: center;
  border-radius: 30px;
  overflow: hidden;
  margin: auto;
}

.serviceGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: relative;
}

.serviceItem {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  span {
    height: 100% !important;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.serviceItem:hover {
  box-shadow: 0 0 10px 2px #797979 !important;
  transition: all 0.2s !important;
}

.iframeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  .iframeItem {
    cursor: pointer;
  }
  img {
    width: 100% !important;
    height: auto !important;
  }
}
.imageList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  img {
    width: 100% !important;
    object-fit: cover;
  }
}

.infoButton {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: fit-content;
  font-size: 20px;
  color: black;
  background-color: white;
  padding: 15px 40px;
  border-radius: 20px;
}

/////////////////////////Reposive//////////////////////////////

@media (max-width: 1199px) {
  .containerContact1 {
    padding: 30px;
  }
  .contact1Form {
    width: 100%;
  }

  .subjectContainer {
    width: 100% !important;
  }
  .subjectSession {
    width: 100% !important;
  }
  .counterService {
    font-size: 40px;
  }

  .groupData {
    grid-template-columns: repeat(2, 1fr);
  }

  .hotlineLeft {
    width: 100% !important;
    text-align: center;
  }
  .btnRegister {
    margin: auto !important;
  }
  .cardGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .imageList {
    img {
      height: 100px !important;
    }
  }
}

@media (max-width: 1023px) {
  .modal {
    width: 100%;
  }
  .modalGrid {
    width: 100%;
  }

  .imageList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    img {
      height: 177px !important;
    }
  }
  .iframeList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .posterContainer {
    width: 100%;
  }

  .slider {
    h1 {
      font-size: 26px;
    }
  }
}
@media (max-width: 767px) {
  .location {
    grid-template-columns: repeat(1, 1fr);
  }
  .modalGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 599px) {
  .detailInfoRight {
    padding: 10px;
  }
  .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .title {
    margin-top: 30px !important;
  }
  .statisticalContainer {
    padding: 10px;
    svg {
      width: 40% !important;
      padding: 0 !important;
    }
  }
  .statisticalContainer {
    display: flex;
    flex-direction: column;
    div:last-child {
      margin: 0;
      margin-top: auto !important;
    }
  }
  .contentTitle {
    font-size: 24px !important;
    span {
      font-size: 24px !important;
    }
  }

  .subjectGrid {
    grid-template-columns: 1fr 5fr;
  }

  .countDownContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapInput1 {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    .input1 {
      margin-bottom: 20px;
    }
  }
  .wrapInput1:nth-child(2) {
    margin-bottom: 20px !important ;
  }

  .partnerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    grid-gap: 30px;
    padding: 0 15px;
  }
  .modal {
    width: 90%;
    padding: 20px 0;
  }
  .modalGrid {
    width: 100%;
  }
  .detailInfoLeft {
    padding: 15px;
  }
  .iframeList {
    padding: 0 15px;
    grid-gap: 10px;
    iframe {
      height: 100px !important;
    }
  }
  .imageList {
    padding: 0 15px;
    grid-gap: 10px;
    img {
      height: 100px !important;
    }
  }

  .counterService {
    font-size: 26px;
  }

  .slider {
    h1 {
      padding: 0 15px;
    }
  }
  .contentTitle {
    padding: 0 15px;
  }

  .title {
    text-align: center !important;
  }
}

//////////////////////////  TO DO  ///////////////////////

$red-color: #c8102e;
$gray-color: #f1f0f0;
$white-color: #fff;

.detail {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  &Container {
    box-shadow: 0 0 10px 0 #9a9a9aa1;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
  }
  &Info {
    padding: 20px;
    width: 35%;
    background-color: $red-color;
  }
  &Contents {
    padding: 20px;
    width: 65%;
    background-color: $gray-color;

    hr {
      width: 100%;
      height: 3px;
      background-color: $red-color;
      border: none;
      margin: 20px 0;
    }
  }
}

.info {
  color: $white-color;
  &Logo {
    width: 100%;
    border-radius: 20px;
    background-color: $white-color;
    box-shadow: 10px 10px 10px 0 #242424a1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &Name {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(42 / 36);
    color: $white-color;
    text-align: center;
  }
  &List {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  &Item {
    margin-bottom: 10px;
    display: flex;
    font-size: 18px;
    svg {
      font-size: 20px;
      width: 23px;
      color: $white-color;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: calc(24 / 18);
      color: $white-color;
    }
    a {
      font-size: 18px;
      font-weight: 500;
      line-height: calc(24 / 18);
      color: $white-color;
    }
  }
}

.contents {
  &Status {
    font-size: 18px;
    font-weight: 500;
    line-height: calc(24 / 18);
  }
  &Company {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(42 / 36);
    color: $red-color;
  }
  &Business {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(24 / 18);
    span {
      font-weight: 700;
      color: $red-color;
      text-transform: uppercase;
    }
  }
  &Service {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(24 / 18);
  }
  &Product {
    display: flex;
    flex-direction: column;
    &Heading {
      font-size: 36px;
      font-weight: 700;
      line-height: calc(42 / 36);
      color: $red-color;
    }
    &List {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    &Item {
      height: 150px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 6px 6px 6px 0 #b7b7b7a1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.partnerItemStore {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #f0f0f0;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 2px #9c9c9c;
    transition: all 0.8s;
  }
}

///////////////responsive todo////////////////////////

@media screen and (min-width: 1600px) {
  .contentsProductItem {
    height: 180px;
  }
}
@media screen and (max-width: 1199px) {
  .detailContainer {
    display: flex;
    flex-direction: column !important;
  }
  .detailInfo {
    width: 100%;
  }
  .detailContents {
    width: 100%;
  }
  .infoLogo {
    margin: auto;
    width: 80%;
  }
  .infoList {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .contentsProductList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 599px) {
  .contentsProductList {
    grid-gap: 10px;
  }
  .contentsProductItem {
    height: 80px;
  }

  .contentsCompany,
  .contentsProductHeading {
    font-size: 24px;
  }
}
